/* line 1, ../../sass/market/detail.scss */
.fb-comments, .fb-comments span, .fb-comments iframe[style] {
  width: 100% !important;
}

/* line 5, ../../sass/market/detail.scss */
.item-list ul li {
  margin-bottom: 20px;
  list-style: none;
}
/* line 9, ../../sass/market/detail.scss */
.item-list ul #selected {
  box-shadow: 0 0 0 3px orange;
}

/* line 15, ../../sass/market/detail.scss */
.sliderbar {
  width: 450px;
  position: relative;
}
/* line 18, ../../sass/market/detail.scss */
.sliderbar ul {
  margin: 0 auto;
}
/* line 20, ../../sass/market/detail.scss */
.sliderbar ul li {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  list-style: none;
  margin: 0 10px 10px 0;
  border-radius: 2px;
}
/* line 28, ../../sass/market/detail.scss */
.sliderbar ul li img {
  width: 100%;
  height: 100%;
}
/* line 32, ../../sass/market/detail.scss */
.sliderbar ul li:last-child {
  margin-bottom: 0;
}
/* line 35, ../../sass/market/detail.scss */
.sliderbar ul li:hover {
  box-shadow: 0 0 0 3px orange;
}

/* line 42, ../../sass/market/detail.scss */
#mark {
  position: relative;
}
/* line 44, ../../sass/market/detail.scss */
#mark .toolbar {
  margin: 0;
}
/* line 47, ../../sass/market/detail.scss */
#mark .toolbar a {
  font-size: 14px;
  color: white;
  padding: 7px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
/* line 54, ../../sass/market/detail.scss */
#mark .msg {
  background: #1098d4;
}
/* line 57, ../../sass/market/detail.scss */
#mark .edit {
  background: #70b51c;
}
/* line 60, ../../sass/market/detail.scss */
#mark .remove {
  background: #eb3737;
}

/* line 65, ../../sass/market/detail.scss */
#mark #pageTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 0;
  background: #231815 url(/imgs/pageTop.png) center 15px no-repeat;
  border-radius: 100px;
  color: white;
  width: 80px;
  height: 80px;
  opacity: .5;
  transition: opacity linear .2s;
}
/* line 77, ../../sass/market/detail.scss */
#mark #pageTop:hover {
  opacity: 1;
}

/* line 82, ../../sass/market/detail.scss */
#mark h3 {
  padding: 0 0 10px 0;
  border-bottom: 3px double #CCC;
}

/* line 88, ../../sass/market/detail.scss */
dl dt {
  padding: 5px;
  font-size: 16px;
}
/* line 92, ../../sass/market/detail.scss */
dl dd {
  color: #333333;
  padding: 5px 10px;
  font-size: 16px;
}

/* line 99, ../../sass/market/detail.scss */
.lazy {
  width: 500px;
  box-shadow: 5px 5px 10px #AAA;
}

/* line 104, ../../sass/market/detail.scss */
.content-inner {
  width: 460px;
}

/* line 108, ../../sass/market/detail.scss */
.clearfix {
  border-bottom: 1px solid #D9E0E3;
  margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
  /* line 114, ../../sass/market/detail.scss */
  .leftSide, .rightSide {
    float: none;
  }

  /* line 117, ../../sass/market/detail.scss */
  h3 {
    margin: 0;
    font-size: 18px;
  }
  /* line 120, ../../sass/market/detail.scss */
  h3 .title {
    margin-left: 10px;
  }

  /* line 124, ../../sass/market/detail.scss */
  .toolbar {
    float: none;
    border: none;
    padding-bottom: 0px;
  }
  /* line 128, ../../sass/market/detail.scss */
  .toolbar a {
    display: block;
    width: 100%;
    margin: 0px !important;
    margin-bottom: 10px !important;
    text-align: center;
  }

  /* line 138, ../../sass/market/detail.scss */
  .item-list ul li {
    margin: 10px;
  }
  /* line 140, ../../sass/market/detail.scss */
  .item-list ul li img {
    width: 100%;
  }

  /* line 146, ../../sass/market/detail.scss */
  .content-inner {
    width: auto;
  }
}
