@charset "UTF-8";
/* line 2, ../../sass/market/market.scss */
#mark {
  width: 100%;
  margin: 0px auto;
}
/* line 5, ../../sass/market/market.scss */
#mark .item {
  float: left;
  background: white;
  width: 230px;
  margin: 0 5px 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* line 11, ../../sass/market/market.scss */
#mark .item .item-inner {
  position: relative;
}
/* line 14, ../../sass/market/market.scss */
#mark .item .img {
  height: 220px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}
/* line 19, ../../sass/market/market.scss */
#mark .item .img img {
  width: 100%;
  height: 100%;
}
/* line 25, ../../sass/market/market.scss */
#mark .item.sold .date:before {
  content: '';
  display: inline-block;
  background: orange;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* line 33, ../../sass/market/market.scss */
#mark .item.sold .date:after {
  content: "已賣出";
  display: block;
  background: orange;
  padding: 0 10px;
  float: right;
  color: white;
}
/* line 43, ../../sass/market/market.scss */
#mark .item.sell .date:before {
  content: '';
  display: inline-block;
  background: #70b51c;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* line 51, ../../sass/market/market.scss */
#mark .item.sell .date:after {
  content: "販賣中";
  display: block;
  background: #70b51c;
  padding: 0 10px;
  float: right;
  color: white;
}
/* line 61, ../../sass/market/market.scss */
#mark .item.cancel .date:before {
  content: "";
  display: inline-block;
  background: red;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* line 69, ../../sass/market/market.scss */
#mark .item.cancel .date:after {
  content: '取消';
  display: block;
  background: red;
  padding: 0 10px;
  float: right;
  color: white;
}
/* line 78, ../../sass/market/market.scss */
#mark .item .date {
  width: 100%;
  top: 0;
  position: absolute;
  background: white;
  padding: 5px;
  transition: opacity .2s linear;
}
/* line 87, ../../sass/market/market.scss */
#mark .item .title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  text-align: left;
  padding: 10px;
  transition: opacity .2s linear;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 100, ../../sass/market/market.scss */
#mark .item:hover .date, #mark .item:hover .title {
  opacity: 0;
}
/* line 104, ../../sass/market/market.scss */
#mark:after {
  content: "";
  display: block;
  clear: both;
}
/* line 109, ../../sass/market/market.scss */
#mark .tools {
  margin: 10px;
}
/* line 112, ../../sass/market/market.scss */
#mark .tools a {
  padding: 7px 30px;
  background: #80c31c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

/* line 122, ../../sass/market/market.scss */
.toolbar {
  border-bottom: 1px solid #D9E0E3;
  margin-bottom: 10px;
}

/* line 128, ../../sass/market/market.scss */
.market-search input {
  display: block;
  float: left;
  border: 1px solid #ccc;
}
/* line 133, ../../sass/market/market.scss */
.market-search input[type=text] {
  border-radius: 3px 0 0 3px;
  margin-right: 0;
}
/* line 137, ../../sass/market/market.scss */
.market-search input[type=submit] {
  border-radius: 0 3px 3px 0;
  margin-left: -5px;
  width: auto;
  padding: 0 10px;
  background: #f3f3f3;
  transition: background .3s ease;
}
/* line 144, ../../sass/market/market.scss */
.market-search input[type=submit]:hover {
  background: #eee;
}

/* line 150, ../../sass/market/market.scss */
.page {
  text-align: center;
}
/* line 153, ../../sass/market/market.scss */
.page ul li {
  display: inline-block;
  background: #e7e7e7;
  margin-left: -5px;
  border: 1px solid #ccc;
  height: 26px;
  line-height: 26px;
  transition: background .2s linear;
}
/* line 161, ../../sass/market/market.scss */
.page ul li a {
  padding: 5px 10px;
}
/* line 163, ../../sass/market/market.scss */
.page ul li a:hover {
  color: black;
  text-decoration: none;
}
/* line 168, ../../sass/market/market.scss */
.page ul li.first {
  border-radius: 5px 0 0 5px;
}
/* line 171, ../../sass/market/market.scss */
.page ul li.last {
  border-radius: 0 5px 5px 0;
}
/* line 174, ../../sass/market/market.scss */
.page ul li:hover {
  background: #f1f1f1;
  box-shadow: 0 0 3px #CCC;
}
/* line 178, ../../sass/market/market.scss */
.page ul li#selected {
  background: #f1f1f1 !important;
}

/* line 185, ../../sass/market/market.scss */
.leftSide {
  float: left;
}

/* line 189, ../../sass/market/market.scss */
.rightSide {
  float: right;
}

@media screen and (max-width: 650px) {
  /* line 194, ../../sass/market/market.scss */
  #mark .item {
    width: 48%;
    margin: 1%;
  }

  /* line 198, ../../sass/market/market.scss */
  .leftSide, .rightSide {
    float: none;
  }

  /* line 201, ../../sass/market/market.scss */
  .toolbar {
    padding: 10px;
  }

  /* line 204, ../../sass/market/market.scss */
  .market-search {
    float: none;
    width: 100%;
    margin: 0px !important;
  }
  /* line 208, ../../sass/market/market.scss */
  .market-search input[type=text] {
    width: 80%;
    margin: 0;
  }
  /* line 212, ../../sass/market/market.scss */
  .market-search input[type=submit] {
    width: 20%;
    margin: 0;
    margin-left: -1px;
  }

  /* line 218, ../../sass/market/market.scss */
  .tools {
    float: none;
  }
  /* line 220, ../../sass/market/market.scss */
  .tools a {
    display: block;
    width: 100%;
    margin: 0px !important;
    margin-bottom: 10px !important;
    text-align: center;
  }
}
@media screen and (max-width: 490px) {
  /* line 231, ../../sass/market/market.scss */
  #mark .item {
    width: 100%;
    margin: 0px;
  }
}
